<ion-view view-title="Account View" style="background-color:#B22222;">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Your profile</h2>
        <!-- <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i> -->
        <i class="ion-arrow-left-c back_icon" ui-sref="acc.afterlogin"></i>
        <!-- <button ng-click = "createFile()">ASDGFASDGASDG</button> -->
    </div>
    <ion-content style="height:90%;top:10%;">
        <table class="userData">
          <tr class="userData">
            <td class="userData">First Name:</td>
            <td class="userData">{{vm.user.firstName}}</td>
          </tr>
          <tr class="userData">
            <td class="userData">Name:</td>
            <td class="userData">{{vm.user.lastName}}</td>
          </tr>
          <tr class="userData">
            <td class="userData">Username:</td>
            <td class="userData">{{vm.user.userName}}</td>
          </tr>
          <tr class="userData">
            <td class="userData">e-mail:</td>
            <td class="userData">{{vm.user.email}}</td>
          </tr>
          <tr class="userData">
            <td class="userData">Birthday:</td>
            <td class="userData">{{vm.user.birthday}}</td>
          </tr>
          <tr class="userData">
            <td class="userData">Info:</td>
            <td class="userData">{{vm.user.info}}</td>
          </tr>
        </table>
        <br>
        <br>
        <table class="list">
            <tr ng-repeat="friend in vm.user.friends">
                <td ng-click="friendAccount(friend)" id="friend"><a>{{friend}}</a></td>
            </tr>
        </table>

        <button class="button button-block button-calm" ui-sref="acc.changeUser">Change your userdata</button>

        <form ng-submit="inviteUser()">
        <input id="newmail" type="text" ng-model="friendInput" placeholder="e-mail">
        <button class="button button-block button-calm"type="submit">Add user as a friend</button>
        </form>

    </ion-content>

</ion-view>
